<div [ngSwitch]="type">

  <div *ngSwitchCase="'BindWeed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Bindweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <p>Common Names: Bindweed . Latin Name: </p>

      <p>Status: Native species to Scotland/UK</p>

      <p>Basic Facts:.</p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>
    </div>
  </div>

  <div *ngSwitchCase="'Bird Cherry'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Bird Cherry</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Bird Cherry    Latin Name: </p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: . </p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>

    </div>
  </div>

  <div *ngSwitchCase="'Dogwood'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Dogwood</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Dogweed. Latin Name: </p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts:.</p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>
    </div>
  </div>

  <div *ngSwitchCase="'Fishpole Bamboo'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Fishpole Bamboo</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Fishpole Bamboo .  Latin Name: </p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: . </p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>
    </div>
  </div>

  <div *ngSwitchCase="'Giant Knotweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Knotweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Giant Knotweed. Latin Name: </p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: .</p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>
    </div>
  </div>


 <div *ngSwitchCase="'Janpense Knotweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Japanesse Knotweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Japanese Knotweed. Latin Name: </p>

      <p>Status: Non native, occasionally invasive</p>

      <p>Basic Facts: .</p>

      <p>Habitat: .</p>

      <p>Fun Facts: .</p>
    </div>
  </div>

 <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
