<div [ngSwitch]="type">

  <div *ngSwitchCase="'BindWeed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Bindweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <p>Common Names: Field bindweed, lesser bindweed, European bindweed, perennial morning glory, creeping jenny &amp; possession flower. Latin Name: Convolvulus arvensis</p>

      <p>Status: Native species to Scotland/UK</p>

      <p>Basic Facts: A climbing plant, with arrow shaped leaves that are arranged in a spiral around the stem. It produces distinct white or pink, trumpet shaped flowers
        in the mid-summer.</p>

      <p>Habitat: It is an adaptable plant and can tolerate a range of soil and moisture conditions. It is a frequently found species along river banks, where it climbs up
        and often topples forbs and grasses.</p>

      <p>Fun Facts: It always climbs in a counter clock wise direction.</p>
    </div>
  </div>

  <div *ngSwitchCase="'BirdCherry'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Bird Cherry</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: bird cherry, gean, hackberry, hagberry, &amp; mayday tree.    Latin Name:: Prunus padus </p>

      <p>Status: UK native tree species</p>

      <p>Basic Facts: A deciduous tree species that grows to about 16m tall. It has oval shaped leaves with a
        tapering tip, that are often a deep or bright green. It produces racemes (clusters) of white or slightly
        pink leaves in spring. It produces small astringent cherries, that are a favourite of birds. </p>

      <p>Habitat: It is common in margins and scrapy areas of land. It is a common tree in parks and cultivated
        spaces. It is often found in a more shrub like condition along the banks of rivers, providing a loose
        hedge arrangement.</p>

      <p>Fun Facts: The bird cherry ermine moth (Yponomeuta evonymella) lays its caterpillars only on these trees.
        They are a common site in late spring, having eaten nearly every leaf from a tree and forming bundles of
        matted silk at branch ends. </p>

    </div>
  </div>

  <div *ngSwitchCase="'Dogwood'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Dogwood</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Red dogwood and Siberian dogwood. Latin Name: Cornus alba</p>

      <p>Status: Not native to the UK. </p>

      <p>Basic Facts: Originally from Siberia and Korea, this plant is often used in municipal and road
        verge planting for it’s ability to provide some winter colour. It is a suckering shrub, that may grow
        into a small tee given the right conditions. It may grow up to 3 meters tall, but some varieties are
        less vigorous. .</p>

      <p>Habitat: It can reproduce from cuttings and so will often turn up on river banks as a result of discarded
        gardening waste. It requires a loose, loamy soil to get established and does not compete well in its
        early development.</p>

      <p>Fun Facts: It is an extremely cold hard species, happily tolerating temperatures of -40oc.</p>
    </div>
  </div>

  <div *ngSwitchCase="'FishpoleBamboo'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Fishpole Bamboo</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: fishpole bamboo, monk’s belly bamboo, &amp; fairyland bamboo.  Latin Name: Phyllostachys aurea </p>

      <p>Status: Non-native to the UK.</p>

      <p>Basic Facts: Of the ‘running bamboo’ type, it is a native species to China. It is a cold hardy bamboo that
        is an occasional escapee from gardens to wild spaces and habitats. The stems are described having a tortoise
        shell like pattern, with green shiny flesh. </p>

      <p>Habitat: It likes moist soils and can happily thrive in a partially shady river bank.  .</p>

      <p>Fun Facts: It is commonly used for construction on bamboo pipes and planted as a screening material.  .</p>
    </div>
  </div>

  <div *ngSwitchCase="'GiantKnotweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Knotweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Giant Knotweed or Sakhalin knotweed. Latin Name: Reynoutria sachalinensis </p>

      <p>Status: Non native to the UK. Originally from Japan and far east of Russia.</p>

      <p>Basic Facts: Forming large clumps through rhizomes below the ground. The most noticeable feature are the
        huge leaves of this species, up to 40cm long and 28cm wide. It is very similar to Japanese knotweed and is
        a close relative, however, you can distinguish first by its size and second by having a heart shaped leaf,
        and third by having a rounded tooth shaped edge of the leaf. .</p>

      <p>Habitat: It likes a wet environment and will happily grow below a leaf canopy.</p>

      <p>Fun Facts: The young shoots are edible. After its introduction in the 1800s then it came to be well known and
        transplanted by locals as a drought tolerant forage crop for cattle. It also has antifungal and antibacterial
        properties.  .</p>
    </div>
  </div>


 <div *ngSwitchCase="'JapaneseKnotweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Japanese Knotweed</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Asian knotweed &amp; Japanese knotweed. Latin Name: Fallopia japonica </p>

      <p>Status: : Not a UK native, and readily invasive. Originally from east Asia, such as Japan, Korea, and China. </p>

      <p>Basic Facts: : It has distinct hollow stems with raised nodes (where the leaf connects to the stem or grows from),
        that give it an almost bamboo appearance. It grows up to 4 meters tall and in a clump fashion. Where plants have not
        been managed then you can see the old hollow stems from the year before. Otherwise new stems grow upwards, and unfurl
        their leaves in a similar fashion to bamboo. The leaves are a broad oval shape, usually 7-14 long and 5-12cm wide. The
        edge of the leaves are smooth. It produces clusters of small white flower in the late summer autumn. .</p>

      <p>Habitat: It likes a damp environment, but will not tolerate water logged soils. It will happily grow in the shade of trees.
        It generally needs a disturbed soil to establish.</p>

      <p>Fun Facts: Every tiny piece of the plant can generate a new plant.</p>
    </div>
  </div>

   <div *ngSwitchCase="'RussianVine'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Russian Vine</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Russian vine, potato vine, Bukhara fleece flower, Chinese fleece-flower, mile-a-minute, &amp; silver lace vine.
       Latin Name: Fallopia baldschuanica </p>

      <p>Status: : Not native to the UK and can be invasive. Originally from China, Russia and Kazakhstan. </p>

      <p>Basic Facts: : A thing stemmed, climbing vine. Older stems become woody and it can grow up to 10m in length. It
        is found growing wild in a number of countries where it was introduced as a ornamental plant. It has pointed oval/triangle
        leaves, which are usually no longer than 10cm. It produces a spray of small white flowers that droop downwards, these can
        be up to 16cm long. These flowers are small and white, though they can turn pink as the fruit starts to form. It produces
        small shiny black fruits, that are small. </p>

      <p>Habitat: It enjoys a waste land and one of the most common places to find it is along rail lines. It is occasionally found
        on river banks where the ground has been disturbed or adjacent to derelict sites. </p>

      <p>Fun Facts: It is loved by honey bees for it large quantities of nectar and pollen.</p>
    </div>
  </div>

 <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
