<div [ngSwitch]="type">
  <div *ngSwitchCase="'Angelica'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Angelica</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <p>Common Names: Angelica or Wild Angelica    Latin Name: Angelica sylvestris</p>

      <p>Status: Native species to Scotland/UK</p>

      <p>Basic Facts: A native across Europe, it is an annual or short lived perennial. It can grow up to 2.5m, which is why it can be
        confused with Giant Hogweed. It has similar purple-ish stems and small clusters of white flowers, in florets above the plant. Some 
      plants also have slightly pink flowers. There are many garden cultivars that have been bred over the years, including a dark purple/
      black variety.</p>

      <p>Habitat: The last part of the latin name means it is most commonyl found in woodlands. It can also be found in fields, hedgerows, 
       and marshy soils.</p>

      <p>Fun Facts: It is in fact a non-native invasive in other countries that it has been taken to, notably Canada. Prior to 1900s it was
      commonly eaten as a vegetable, notably the stem eaten raw and the leaves stewed. Due to its nutritient content it was often taken as 
      a cure for scurvy. It is also used as a traditional medicine and for dying cloth.</p>
    </div>
  </div>

  <div *ngSwitchCase="'Giant Butterbur'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Butterbur, Bog Rhubarb, Devil's Hat & Pestilence Wort    Latin Name: Petasites japonicus</p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: A perennial plant that has different plants for the male and female of the species (called dioecious).
      The males are much more common than females. They flower in early spring, with clustered pink flowers on a central
      spike. The leaves can be large, the stems being around 1m in length and the leaves 1.5m in size. It is commonly
      confused with the invasive non-native Giant Butterbur, though this is typically present in North-East Scotland. </p>

      <p>Habitat: It typically likes sloped or wet ground, and is typical along the banks of rivers.</p>

      <p>Fun Facts: The root is being explored as a potential source of medicine for migraine treatment, and it has been
      used traditionally as a medicine for various aliments. The common name originates from the tendancy for dairy
      maids to wrap fresh patts of butter in the large leaves, in order to rest them.</p>      

    </div>

  <div *ngSwitchCase="'Common Hogweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Hogweed, Cow Parsnip & Eltrot   Latin Name: Heracleum sphonylium</p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: A perenial or biennial plant in the family that includes ground elder and fennel.
        It can reach a height of over 
      1m and occasioanlly up to 2m in height. The flowers are white or pink, on an umbrella shaped
      head upto 30cm in diameter, with 15-30 rays of flowers.</p>

      <p>Habitat: Most commomly found in grasslands, rich meadows, hedgerows, road verges and derelict 
      type land such as rail embankments and waste land.</p>

      <p>Fun Facts: A pollination survey about land use in the UK found this plant was in the top 10 of 
      most visited plants by various pollinating insects (by land cover). The name 'hogweed' comes from 
      the smell of the flowers, which apprently smell like pigs.</p>  
    </div>
  </div>

  <div *ngSwitchCase="'Coltsfoot'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Tash Plant, Ass's foot, Foalswort & Bull's foot      Latin Name: Tussilago farfara</p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: Perennial herbaceous plant, reproducing by seeds and rhizomes. Flowers are yellow. Typically up to 30cm in height. </p>

      <p>Habitat: Likes newly uncovered or waste grounds, such as bings, rail enbankments, gravel banks in rivers and bare soils.</p>

      <p>Fun Facts: Tradiotnally used as herbal medicine to treat coughs. However, certain alkaloids within the plant have a mutagenic property 
      and such it should not be consumed.</p>  
    </div>
  </div>

  <div *ngSwitchCase="'Cow Parsley'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Wild Chervil, Wild Beaked Parsley, Mother-die & Keck    Latin Name: Anthriscus sylvestris</p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: A herbaceous biennial or short-lived perennial. It has a hollow stem, that grows to a height of around 1-1.5m.
      The flowers are small and white, in clusters above the plant. Flowering in mid-spring to early summer.</p>

      <p>Habitat: It likes semi-shaded conditions, such as high river banks, meadows, hedgerows and in dapled woodlands. It also likes
      road verges and sometimes waste lands.</p>

      <p>Fun Facts: It is edible and commonly foraged as a herb or for salads. It was introduced to American and Iceland where it 
        is now as an invasive non native species.</p>  
    </div>
  </div>


 <div *ngSwitchCase="'Giant Rhubarb'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Brazillian giant-rhubarb    Latin Name: Gunnera manicata</p>

      <p>Status: Non native, occasionally invasive</p>

      <p>Basic Facts: Native to the Serra do Mar mountain of Brazil, this impressive size plant can get very large. 
      It is a herbaceous and clump forming plant, that can grow 2.5m tall, covering areas of 9m square. It 
      occasionally flowers with green/red flowers covering stalks beneath the leaves.</p>

      <p>Habitat: Any where damp, however, it does not like cold wet winters.</p>

      <p>Fun Facts: It is used as a traditional medicine to treat STDs and is not at all related to rhubarb.</p>  
    </div>
  </div>

<div *ngSwitchCase="'Giant Hogweed'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Giant Hogweed    Latin Name: Heracleum mantegazzianum</p>

      <p>Status: Non-native invasive</p>

</div>

<div *ngSwitchCase="'Hemlock'">
    <div class="modal-header">
      <h3 class="modal-title">Your match: <strong>Giant Butterbur</strong></h3>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
     <p>Common Names: Poison Hemlock    Latin Name: Conium maculatum</p>

      <p>Status: Native to Scotland/UK</p>

      <p>Basic Facts: It is a toxic, biennial species. Growing up to 2.5m tall, it has a hollow stem that 
        typically has spotted or streaked red patches. The flowers are small and white, clustered together 
        above the plant. The leaves are delicate, almost fern like. </p>

      <p>Habitat: Typically in woodlands and in any habitat with moist soils.</p>

      <p>Fun Facts: It is classed as an invasive species in Australia and Tasmania. Its leaves, roots and seeds 
        contian toxic alkaloids, that are known to make livestock sick.</p>  

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
